* {
    box-sizing: border-box;
}


/* -- style content -- */

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  color: #E000FF;
  background: #282828;

}

div {
  margin: 0 auto;

}

div h2 {
  text-align: center;
  font-family: 'Gugi', cursive;
  padding-bottom: 0;
  font-size: 1.6rem;
  font-style: bold;
}


h1 {
  font-family: 'Russo One', sans-serif;
  color: #00ABFE;
  text-shadow: 2px 5px 4px #EB00FE;
  text-align: center;
}

header {
  text-align: center;
  background: url('') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 12px;
  margin-bottom: 6px;
}

nav ul {
    margin: 0;
    padding: 0;
}

.navigation li {
  text-align: center;
  margin:3px 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Russo One', sans-serif;
  list-style-type: none;
  border: 3px solid #FE0089;
  background-color: #7C7B7B;
  display: block;
}

.name {
  text-align: center;
}

.name-footer {
  float: left;
  text-shadow: 3px 3px 6px #00B4FE;
  padding-left: 12px;
}

.return {
  float: right;
  padding-right: 24px;
}

.bottom {
  background-color: #282828;

}
/*--image styles--*/

.prof-img {
  border-radius: 90%;
  border: 5px solid purple;
  text-align: center;
  margin: 26px;
}

.cont-img {
  width: 400px;
  box-sizing: border-box;
  padding: 0;
  max-width:100%;
  max-height:100%;

}

.skill-img {
  float: right;
  margin-top: 36px;
  margin-right: 17px;
  border: 4px solid #06ADFE;
  border-radius: 20%;

}

.skill-img:hover {
  transform: scale(1.1);
}
/* -- style classes -- */

.header {
  background: linear-gradient(0deg, #282828, transparent),
              url('../images/neon.png') no-repeat center;
  background-size: cover;
  color: #00BCFE;
  font-weight: bold;
  text-shadow: 4px 2px 9px #F20DFF;
  text-align: center;
}

.text-style {
  text-align: left;
  margin: 6% 10%;

}

.foot-parent {
  border-top: 5px solid purple;
  border-bottom: 5px solid purple;
  padding-top: 16px;
  margin: 0 auto;
  background-color: #494848;
  border-radius: 15px;
}

.foot-cont {
  text-align: center;
  list-style-type: none;
  width: 90%
}


.nav-parent {
  box-sizing: content-box;
}

/* -- links -- */

li a:link {
  color: #EB00FE;
  text-decoration: none;
}

li a:visited {
  color: lightblue;
}

li a:hover {
  color: #FE0081;
}

li a:active {
  color: #7D00FE;
}

/*----Boxes---*/

.cont-container {
  width: 96.6%;
  max-width: 1024px;
  margin: 0 auto;


}
.content {
  box-sizing: border-box;
  color: white;
  padding: 0 3px;
  border-top: 10px solid #04DEFE;
  margin-bottom: 15px;
  background: #383738;
  max-width: 300px;
  max-height: 450px;
  text-align: left;

  overflow: hidden;

  border-radius: 80px 15px 0 15px;
}

.content p {
  padding-left: 15px;
  padding-right: 10px;
  margin: 0 auto;
  width: 90%;
}

.content:hover {
      border-top: 10px solid #6C00FE;
      transform: scale(1.01);
      box-shadow: 2px 4px 15px #FF00D1;
}

/* --------------Skills Content ------------------ */
.skills {
  border-top: 5px solid purple;
  border-radius: 15px;
  border-bottom: 5px solid purple;
  margin-bottom: 16px;
  background-color: #494848;
}

.skills-head {
  padding-bottom: 0;
  margin-bottom: 0;
}

.skills p {
  padding-top: 0;
  padding-left: 10px;
  margin; 0;
  color: #FDFDFE;
  width: 95%;

}

.skills-list {
  list-style-type: upper-roman;
  color: #FDFDFE;
  text-shadow: 1px 1px 3px #00B4FE;
  width: 85%;
  padding-left: 55px;
  margin: 0 auto;
}

.skills-list li {
  padding-bottom: 16px;
  margin: 0 6px 5px 9px;
  border-radius: 10px 10px 70px 10px;
  background-color: linear-gradient(#190044, #620AFE)
}
.alt-bottom {
  visibility: hidden;
  display: none;
  float: right;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

/* --------------media ------------------ */


@media (min-width: 768px) {


  .top-content {
    width: 100%;
    margin-left: 0;
    display: block;

  }

    .prof-img {
      float: right;
      margin-right: 17px;
      border-radius: 25px;

    }



.text-style {
  padding-top: 40px;
  margin-left: 17px;
}


.navigation ul {
  display: inline;
  margin: 0 auto;

}
.navigation li {
  display: inline;
  background: none;
  border: none;
}


.content {
  text-align: center;
  float: left;
  margin-left: 3%;
  min-height: 450px;


}

.alt-bottom {
  visibility: visible;
  display: inline-flex;
  list-style-type: none;
  margin-right: 17px;
}
.alt-bottom li {
  padding-left: 16px;
}
.return {
  display: none;
}
}

@media (min-width: 1024px) {

  .navigation {
    text-align: right;
    margin-top: 24px;
    padding-right: 12px;
  }

  .name {
    margin-top: 0;
    float: left;
    padding-left: 55px;
  }

  .content {
    float: left;
    margin-left: 3%;
    min-height: 450px;
  }

  .skill-cont {
    margin-left: 20px;
  }

}
